<!DOCTYPE html>
<html>

<head>
	<title>Pre-Filled Form Demo</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>

<body>
	<h1>
		Full script to create a user to your input specifications:
	</h1>



	<div id="scriptWrapper">
		<div id="scriptDisplayContainer">
			<p>
				useradd
				
				<% homedir = info.homedir %>
				<% if (homedir) { %>
					-m -d <%= homedir %>
				<% } %>

				<% userid = info.userid %>
				<% if (userid) { %>
					-u <%= userid %>
				<% } %>

				<% groupid = info.groupid %>
				<% if (groupid) { %>
					-g <%= groupid %>
				<% } %>

				<% description = info.description %>
				<% if (description) { %>
					-c "<%= description %>"
				<% } %>

				<% userexp = info.userexp %>
				<% if (userexp) { %>
					-e <%= userexp %>
				<% } %>

				<%= info.username %>
			</p>
		</div>
	</div>

</body>

</html>
